* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 22px 30px;
}

.main-nav {
  background-color: #FFF;
  color: #000;
  box-shadow: 0px 3px 7px 0px #0000001A;
}

.main-nav__container {
  min-height: 70px;
  display: flex;
}

