* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.container {
  max-width: 625px;
  margin: 0 auto;
  padding: 22px 30px;
}

.main-nav {
  position: relative;
  background-color: #FFF;
  color: #000;
  box-shadow: 0px 3px 7px 0px #0000001A;
}

.main-nav__container {
  min-height: 70px;
  display: flex;
}

.main-nav__logo {
  display: flex;
}

.main-nav__logo-img {
  width: 83px;
  height: 26px;
}

.hero {
  background-color: #FFF;
  color: #000;
}

.hero__container {
  padding-top: 290px;
  background-image: -webkit-image-set(    
    url("/public/images/photo-grid-1x.png") 1x,    
    url("/public/images/photo-grid-2x.png") 2x
  );
  background-image: image-set(    
    url("/public/images/photo-grid-1x.png") 1x,    
    url("/public/images/photo-grid-2x.png") 2x
  );
  background-repeat: no-repeat;
  background-position: center 25px;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  margin-bottom: 16px;
}

.hero__text {
  max-width: 320px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 0;
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
}

.card {
  width: 176px;
  height: 305px;
  background-color: #FFF;
  color: #222;
  position: relative;
}

.card__link {
  text-decoration: none;
}

.card__img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 9px;
  background-color: #C9C9C9;
  vertical-align: bottom;
}

.card__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 61px;
  height: 20px;
  background-color: #FFF;
  color: #222;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: 6px;
}

.card__meta {
  padding-top: 9px;
  background-color: #FFF;
  color: #222;
}

.card__stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.card__star {
  display: inline-block;
  margin-right: 2px;
}

.card__star-img {
  width: 14px;
  height: 14px;
}

.card__stars {
  font-size: 12px;
  line-height: 13px;
  color:#222;
  margin-right: 2px;
}

.card__reviews {
  font-size: 12px;
  line-height: 13px;
  color: #918E9B;
  margin-right: 2px;
}

.card__country {
  font-size: 12px;
  line-height: 13px;
  color: #918E9B;
}

.card__title {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 5px;
}

.card__price-text {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: #222222;
}

.card__price {
  font-weight: 600;
}